* {
    background-size: cover;
    line-height: 1;
    margin: auto;
    width: auto;
    }
    
    body {
    background-image: url(../images/bagels.jpg)
    }
    
    h1 {
    padding: 50px 0 0 0;
    font-size: 5vw;
    color: #4D79E6;
    font-weight: 600;
    text-align: center;
    }
    
    h2 {
    font-size: 6vw;
    font-weight: 600;
    color: cyan;
    padding: 44px 0 0 0;
    text-align: center;
    }
    
    h3 {
    font-size: 4vw;
    color: #4D79E6;
    width: 50%;
    }
    
    head {
    background-color: #2262ec;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 10;
    width: 100%;
    top: 0px;
    border-bottom: 1px solid seashell;
    }
    
    nav {
    text-align: right;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
    z-index: 11;
    padding: 0 0 25px 0;
    width: 65%;
    margin: auto;
    flex-wrap: wrap;
    }
    
    a {
    z-index: 11;
    background-color: #3a4660;
    color: #c9af98;
    text-decoration: none;
    padding: 20px;
    border: 5px outset red;
    border-radius: 50%;
    transition-duration: 1s;
    margin: 5px;
    }
    
    a:hover {
    z-index: 11;
    background-color: #845007;
    border: 5px outset blue;
    }
    
    .image-container {
    margin: auto;
    text-align: center;
    }
    
    .image-container img {
    width: 50%;
    height: auto;
    }
    
    ul {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        color: cyan;
    }
    
    ul li {
        list-style-type: circle;
        padding: 5px;
        max-height: 100%;
        width: 50%;
        font-size: 150%;
        opacity: .7;
        background-color: blue;
    }
    
    ol {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    
    ol li {
    max-height: 100%;
    list-style-type: decimal;
    padding: 7px;
    color: blue;
    width: 50%;
    font-size: 150%;
    opacity: .7;
    background-color: cyan;
    }
    
    li {
    font-size: 130%;
    }