* {
background-color: #ed8a63;
}

h1 {
font-size: 2.5rem;
color: #3a4660;
font-weight: 600;
text-align: center;
}

h2 {
font-size: 2rem;
color: #845007;
}

h3 {
font-size: 1.5rem;
color: #3a4660;
}

a {
background-color: #3a4660;
color: #c9af98;
text-decoration: none;
padding: 20px;
}
